header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
    padding-block: 0.5rem;
    background-color: var(--color-bg-alt);

    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    --_icon-size: 2.5rem;

    height: var(--_icon-size);
    width: var(--_icon-size);
    background-color: var(--color-brand);
    border-radius: 50vw;
}
